<div class="container-fluid bg-dark">
<form action="/admin/add-video" method="post" enctype="multipart/form-data" class="row g-3  bg-dark" >
    <div class="text-center" style="color: white;" >
        <h3>ADD PRODUCT</h3>
        <div  class="col-auto mt-5">
            <label for="">Name</label>
            <input type="type" name="Name" class="form-control bg-secondary text-light">
        </div>
        <div class="col-auto mt-2">
            <label for="">description</label>
            <input type="type" name="Description" class="form-control bg-secondary text-light">
        </div>
         <div class="col-auto mt-2">
            <label for="">select movie Image</label>
            <input type="file" name="Image" class="form-control bg-secondary text-light">
        </div>
        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary mb-3">ADD VIDEO</button>
        </div>
    </div>
    
</form>
</div>


