<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ps-5 py-2">
        <div class="container-fluid">
            <a class="navbar-brand blockquote text-light ps-5" href="#">amazon prime</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/admin/movies" class="nav-link active text-light blockquote ps-5" aria-current="page" >movies</a>
                    </li>
                    <li class="nav-item">
                        <a  href="/admin/User-Details" class="nav-link text-light ps-5 blockquote ">User Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/admin-Details" class="nav-link text-light ps-5 blockquote " >Admin Details</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    <a href="/admin/logout-1" class="btn btn-info">logout</a>
                </span>

            </div>
        </div>
    </nav>

</header>